:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 98px;
  justify-content: space-between;
  .gallery-card {
    width: 280px;
    border-radius: 6px;

    margin-bottom: 15px;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    &:hover {
      transform: scale(1.03);
    }
    &__img {
      width: 280px;
      height: 185px;
      display: flex;
      align-items: center;
      // background-size: auto;
      transition: transform var(--animation-duration) var(--timing-function);
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
.gallery-card__img {
  overflow: hidden;
}
.gallery-card__preview {
  background-position: center;
  background-size: auto;
}
.gallery-card__info {
  padding: 10px;
}
.card-info__set {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.info-item__volume {
  display: flex;
  justify-content: center;
}
.img__link {
  display: flex;
  text-decoration: none;
  // height: 100%;
  // width: 280px;

  &:hover {
    cursor: zoom-in;
  }
}
// .info {
// display: flex;
// justify-items: end;
// align-items: flex-end;
// justify-content: end;
//   .info-item {
//     display: flex;
//     font-weight: 600;
//     font-size: 16px;
//   }
// }
